---
watchInterval: 5
watchTargets:
  - secretName: "certificate-a"
    opaqueSecretName: "certificate-a-opaque"
    secretNamespace: "tendo"
    certificateName: "tencent-certificate-a"
    certificateRegion: "ap-singapore"
    certificateResourceTypes:
        - name: "clb"
          regions:
            - "ap-singapore"
        - name: "tke"
          regions:
            - "ap-singapore"

  - secretName: "certificate-b"
    opaqueSecretName: "certificate-b-opaque"
    secretNamespace: "tendo"
    certificateName: "tencent-certificate-b"
    certificateRegion: "ap-singapore"
    certificateResourceTypes:
        - name: "clb"
          regions:
            - "ap-singapore"
        - name: "tke"
          regions:
            - "ap-singapore"